html, body {
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(19, 79, 171);
}

.navbarRight {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 5%;
  min-width: 35%;
}

.navHome {
  margin-left: 2%;
  color: white;
  font-size: 25px;
}

.navbarItem {
  color: white;
  font-size: 25px;
}